<hr>

  
<a href="#" name="contact"></a>
<section>
  <div class="container" style="margin-bottom: 100px;">
    <div class="row">
      <div class="col-6">
        <p class="h2">Contact Us</p>
        <p style="color: #e0e0e0;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita rerum, 
          vitae quidem modi fugiat ut pariatur ducimus harum eaque sed labore, tempora 
          consequatur recusandae cum saepe illo odit a ipsam?
        </p>
      </div>

      <div class="col-6">
        <p class="h2">Social Media</p>
        <div class="d-flex justify-content-between" style="width: 60%;">
          <img class="socialMedia" src="./imgs/facebook.png" alt="">
          <img class="socialMedia" src="./imgs/instagram.png" alt="">
          <img style="width: 40px; height: 30px; margin-top: 10px; margin-left: 5px;" class="socialMedia" src="./imgs/youtube.png" alt="">
          <img style="width: 35px; height: 35px; margin-top: 6px; margin-left: 10px;" src="./imgs/linkedIn.png" alt="">
          <img style="width: 35px; height: 30px; margin-top: 11px; margin-left: 10px;" src="./imgs/twitter.png" alt="">
        </div>
    </div>
  </div>
</section>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>