<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Font Awosome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/sign_in_style.css">
  <title>Login</title>
</head>
<body>
  <div>
    <div class="container p-5 mt-3">
      <div class="row block" style="background-color: #efefef; border-radius: 4px;">
        <div class="col-7 p-0">

          <div class="row headera m-0 align-items-center">
              <div class="col-12 text-center">
                <h1>Online Travel Guide</h1>
                <p class="lead px-5" style="color: white;">
                  Take every chance you get in life, because some things only 
                  happen once.
                </p>
              </div>
            </div>

        </div>

        <!-- Sign Up form -->
        <div class="col-5 pt-2 px-4">

          <form action="/login" method="POST" class="form-signin">

            <div class="text-center mb-4">
            <h1 class="mb-3" style="font-weight: 700;">Welcome</h1>
            </div>

            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email" required>
            </div>

            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Password" required>
            </div>
            <!-- delete after user authentication -->
            <button class="btn btn-success btn-block">Login</button>

          </form>
          

          <div class="text-center">
            <a href="#">Forget password?</a>
            <hr>
            <p>or you can join with</p>
              <div class="d-flex justify-content-around">
                <!-- Add font awesome icons -->
                <img class="socialMedia" src="/imgs/google.png" alt="">
                <img class="socialMedia" src="/imgs/facebook.png" alt="">
                <img style="width: 40px; height: 35px; margin-top: 8px; margin-right: 8px;" src="/imgs/twitter.png" alt="">
              </div>

            <div class="form-signin">
              <a href="/sign_up" class="btn btn-danger btn-block" type="submit">Sign Up</a>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>


<!-- <div class="form-label-group">
  <input type="text" class="form-control" placeholder="First Name" required autofocus>
  <input type="text" class="form-control" placeholder="Last Name" required> 
  <input type="email" class="form-control" placeholder="Email address" required> 
</div> -->


